.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.header h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 1rem;
    width: 100vw;
}

.project-box {
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -1rem;
}

.box {
    width: 25rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: bold;
    background: #ffdfe4;
}

.box a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.description {
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
}

.lang {
    font-size: 1rem;
    font-weight: 100;
}

.demo {
    font-weight: 100;
    text-align: center;
}