.project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background: #121212;
    height: fit-content;
}

.header h1 {
    color: white;
    text-decoration: underline;
    margin-top: 1rem;
    width: 100vw;
}

.project-box {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -1rem;
}

.box {
    width: 25rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: bold;
    background: #8E05C2;
}

.box a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.description {
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
    color: white;
}

.lang {
    font-size: 1rem;
    font-weight: 100;
    color: white;
}

.demo {
    font-weight: 100;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    height: auto;
    width: 0rem;
}

.searchbar {
    margin-right: 0rem;
    position: relative;
    right: 25rem;
    height: 2rem;
    width: 15rem;
    border-radius: 12px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    width: 20vw;
}