.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background: #121212;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  overflow-y: scroll;
}

.container::-webkit-scrollbar { 
    display: none;
}

.header h1 {
  color: white;
  padding-left: 5rem;
}

.project-box {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: -1rem;
}

.box {
  width: 25rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-weight: bold;
  background: #8e05c2;
}

.box a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.description {
  font-size: 0.9rem;
  font-weight: 100;
  text-align: center;
  color: white;
}

.lang {
  font-size: 1rem;
  font-weight: 100;
  color: white;
}

.demo {
  font-weight: 100;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 25%;
  padding-right: 5rem;
}

.searchbar {
  height: 2rem;
  width: 100%;
  border-radius: 12px;
  padding-left: 3rem;
  background: #4c4c4cf5;
  outline: none;
  color: white;
}

::placeholder {
  color: white;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}