.graph-container {
  background-color: var(--background-light);
  position: relative;
  bottom: 1.4rem;
}

.graph {
  height: 75.7vh;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: var(--text-dark);
}

.graph {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.graph img {
  width: 80vw;
}
