.light-theme {
  --background-light: #f8fafc;
  --button-color: #4f46e5;
  --text-light: #f8fafc;
  --text-dark: #000000;
}

.dark-theme {
  --background-light: #0f172a;
  --button-color: #4f46e5;
  --text-dark: #f8fafc;
  --text-light: #000000;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
