.navigation {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--background-light);
 
 
}

.navigation img {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}

.nav-links li {
 padding: 10px 25px;

  background: var(--button-color);
  border-radius: 8px;
  margin-right: 1.5rem;
  cursor: pointer;
  font-weight: 500;
  color: #eeeeee;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 48;
}
@media screen and (max-width: 800px) {
  .navigation {
    display: flex;
    border-bottom: 1px solid rgba(48, 48, 48, 0.125);  
      flex-direction: column;
  
    
  }
  
}
