.navigation {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--background-light);
}

.navigation .logo {
  cursor: pointer;
}

.menu-button {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.menu-button.open {
  display: block;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}

.nav-links.open {
  flex-direction: column;
  position: absolute;
  top: 90px;
  left: 0;
  background: var(--background-light);
  width: 100%;
  padding: 20px;
  border: 1px solid var(--button-color);
}

.nav-links li{
  padding: 10px 25px;

  background: var(--button-color);
  border-radius: 8px;
  margin-right: 1.5rem;
  cursor: pointer;
  font-weight: 500;
  color: #eeeeee;
}
@media screen and (max-width: 800px) {
  .menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
  .nav-links li{
    margin: 2%;
    padding: 5px 10px;
    background: var(--button-color);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #eeeeee;
  }
}
